# Local Settings
package-lock.json

# DB Temp
.pgsql_data/

# DB TestData
docker/pgsql_sql/9*.sql

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# dotenv environment variables file
.env
.env.test
.env.local

# Next.js build output
.next

